html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Varela Round', sans-serif;
  font-size: 14px;
  width: 100%;
  height: 100%; }

#root {
  width: 100%;
  height: 100%; }

a:link, a:visited {
  color: #317795;
  text-decoration: none;
  font-weight: normal; }

a:hover, a:focus {
  color: #23527c; }

.div-main {
  display: grid;
  grid-template-columns: [margin-left] 15% [col1] auto [col2] auto [margin-right] 15%;
  grid-template-rows: [header] auto [headerbar] 2.6em [body] auto [footer] auto;
  grid-template-areas: ". header header ." ". headerbar headerbar ." ". sidebar maincontent ." ". footer footer .";
  width: 100%;
  height: 100%; }

.div-header {
  grid-area: header;
  background-color: red;
  z-index: 1000; }

.div-headerbar {
  grid-area: headerbar;
  position: relative; }

.div-headerbar-across {
  border-bottom: 1px solid #f1f1f1;
  position: absolute;
  z-index: 1000;
  height: 2.6em;
  width: 100%;
  background: #272847;
  border-radius: 20px; }

.div-headerbar > .div-menu-item {
  position: relative;
  display: inline-block;
  margin-top: 0.30em;
  margin-left: 0.7em; }

.div-headerbar > .div-menu-item > .div-menu-item-button {
  z-index: 1000;
  overflow: hidden;
  display: inline-block;
  padding: 0 10px;
  height: 2em;
  font-size: 1em;
  line-height: 2em;
  position: relative;
  cursor: pointer;
  color: white;
  border-radius: 20px;
  box-sizing: border-box;
  -webkit-transition: ease 1s color,ease 350ms background;
  -moz-transition: ease 1s color,ease 350ms background;
  -o-transition: ease 1s color,ease 350ms background;
  transition: ease 1s color,ease 350ms background; }
  .div-headerbar > .div-menu-item > .div-menu-item-button:hover {
    -webkit-transition: ease 350ms all;
    -moz-transition: ease 350ms all;
    -o-transition: ease 350ms all;
    transition: ease 350ms all;
    background: #e68a46;
    line-height: 6em;
    border-bottom: 4px solid orange; }
  .div-headerbar > .div-menu-item > .div-menu-item-button:before {
    content: attr(data-text);
    position: absolute;
    top: -2em; }
  .div-headerbar > .div-menu-item > .div-menu-item-button.selected {
    -webkit-transition: ease 150ms background;
    -moz-transition: ease 150ms background;
    -o-transition: ease 150ms background;
    transition: ease 150ms background;
    background: orange; }

.div-headerbar > .div-menu-item .div-menu-item-child-container {
  position: absolute;
  top: -20em;
  max-width: 260px;
  -webkit-transition: ease 350ms all;
  -moz-transition: ease 350ms all;
  -o-transition: ease 350ms all;
  transition: ease 350ms all; }
  .div-headerbar > .div-menu-item .div-menu-item-child-container.visible {
    top: 3em; }

.div-headerbar > .div-menu-item .div-menu-item-child-container .div-inner-container {
  background: white;
  padding: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-size: 0.9em; }
  .div-headerbar > .div-menu-item .div-menu-item-child-container .div-inner-container > a.link {
    cursor: pointer;
    display: block;
    padding: 10px;
    white-space: nowrap;
    background: #f9f9f9;
    border-color: #ccc;
    border-width: 1px;
    border-style: solid;
    border-bottom-width: 0; }
    .div-headerbar > .div-menu-item .div-menu-item-child-container .div-inner-container > a.link:hover {
      background: #f1f1f1; }
  .div-headerbar > .div-menu-item .div-menu-item-child-container .div-inner-container > a.link:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; }
  .div-headerbar > .div-menu-item .div-menu-item-child-container .div-inner-container > a.link:last-child {
    border-bottom-width: 1px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }
  .div-headerbar > .div-menu-item .div-menu-item-child-container .div-inner-container > div.blurb {
    color: #000;
    display: block;
    padding: 10px;
    border-color: #ccc;
    border-width: 1px;
    border-style: solid;
    border-bottom-width: 0;
    box-sizing: border-box; }
  .div-headerbar > .div-menu-item .div-menu-item-child-container .div-inner-container > div.blurb:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; }
  .div-headerbar > .div-menu-item .div-menu-item-child-container .div-inner-container > div.blurb:last-child {
    border-bottom-width: 1px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }
  .div-headerbar > .div-menu-item .div-menu-item-child-container .div-inner-container > div.note {
    color: #000;
    display: block;
    padding: 10px;
    box-sizing: border-box;
    font-style: italic; }

.div-sidebar {
  grid-area: sidebar;
  background-color: green; }

.div-maincontent {
  grid-area: maincontent;
  background-color: red; }

.div-footer {
  grid-area: footer;
  background-color: blue; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ }
