html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Varela Round', sans-serif;
  font-size: 14px;
  width: 100%;
  height: 100%; }

#root {
  width: 100%;
  height: 100%; }

a {
  cursor: pointer;
  color: #317795; }
  a:link, a:visited {
    text-decoration: none;
    font-weight: normal; }
  a:hover, a:focus {
    color: #23527c; }

.div-main {
  display: grid;
  width: 100%;
  grid-template-rows: [header] auto [maincontent] auto [footer] auto;
  grid-template-areas: "header header header mobile-top-menu" "maincontent maincontent maincontent maincontent" "footer footer footer footer";
  grid-template-columns: [leftCol1] 1.5fr [leftCol2] 2.5fr [rightCol1] 3fr [rightCol2] 3fr; }

@media (max-width: 320px) {
  .div-main {
    display: grid;
    width: 100%;
    grid-template-rows: [header] 60px [maincontent] auto [footer] auto;
    grid-template-areas: "header header header mobile-top-menu" "maincontent maincontent maincontent maincontent" "footer footer footer footer";
    grid-template-columns: [leftCol1] 1.5fr [leftCol2] 2.5fr [rightCol1] 3fr [rightCol2] 3fr; } }

.div-header {
  grid-area: header;
  background-color: #B2B200;
  position: relative;
  color: white;
  line-height: 60px; }

.div-mobile-top-menu {
  grid-area: mobile-top-menu;
  font-size: 2em;
  text-align: right;
  padding: 0 15px;
  background-color: #B2B200;
  position: relative;
  color: white;
  line-height: 60px; }

.div-headerbar {
  grid-area: headerbar;
  position: relative; }

.div-maincontent {
  grid-area: maincontent;
  position: relative;
  padding: 0 20px; }

.div-headerbar-across {
  position: absolute;
  height: 2.6em;
  width: 0;
  background: linear-gradient(to right, #272847 0, rgba(39, 40, 71, 0.7) 70%, rgba(39, 40, 71, 0) 80%, rgba(39, 40, 71, 0) 100%);
  border-radius: 20px;
  animation-timing-function: linear;
  animation-name: headerBarAcrossAnimation;
  animation-fill-mode: forwards;
  animation-duration: 350ms; }

@keyframes headerBarAcrossAnimation {
  to {
    width: 100%; } }

.div-headerbar > .div-headerbar-menu-container > .div-menu-item {
  position: relative;
  display: inline-block;
  margin-top: 0.30em;
  margin-left: 0.7em;
  z-index: 1; }

.div-headerbar > .div-headerbar-menu-container > .div-menu-item > .div-menu-item-button {
  opacity: 0;
  overflow: hidden;
  display: inline-block;
  padding: 0 10px;
  height: 2em;
  font-size: 1em;
  line-height: 2em;
  position: relative;
  cursor: pointer;
  color: white;
  border-radius: 20px;
  box-sizing: border-box;
  animation-timing-function: linear;
  animation-name: buttonsAnimation;
  animation-fill-mode: forwards;
  animation-duration: 350ms;
  -webkit-transition: ease 1s color,ease 350ms background;
  -moz-transition: ease 1s color,ease 350ms background;
  -o-transition: ease 1s color,ease 350ms background;
  transition: ease 1s color,ease 350ms background; }
  .div-headerbar > .div-headerbar-menu-container > .div-menu-item > .div-menu-item-button:hover {
    -webkit-transition: ease 350ms all;
    -moz-transition: ease 350ms all;
    -o-transition: ease 350ms all;
    transition: ease 350ms all;
    background: #e68a46;
    line-height: 6em;
    border-bottom: 4px solid orange; }
  .div-headerbar > .div-headerbar-menu-container > .div-menu-item > .div-menu-item-button:before {
    content: attr(data-label);
    position: absolute;
    top: -2em; }
  .div-headerbar > .div-headerbar-menu-container > .div-menu-item > .div-menu-item-button.selected {
    -webkit-transition: ease 150ms background;
    -moz-transition: ease 150ms background;
    -o-transition: ease 150ms background;
    transition: ease 150ms background;
    background: orange; }
  .div-headerbar > .div-headerbar-menu-container > .div-menu-item > .div-menu-item-button > .menu-item-alternate {
    display: none; }

@keyframes buttonsAnimation {
  to {
    opacity: 1; } }

.div-headerbar > .div-headerbar-menu-container > .div-menu-item .div-menu-item-child-container {
  position: absolute;
  width: 260px;
  top: 0.5em;
  z-index: 1; }

.div-headerbar > .div-headerbar-menu-container > .div-menu-item .div-menu-item-child-container .div-inner-container > div {
  background: white;
  padding: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-size: 0.9em; }
  .div-headerbar > .div-headerbar-menu-container > .div-menu-item .div-menu-item-child-container .div-inner-container > div > a.link {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: block;
    padding: 10px;
    white-space: nowrap;
    background: #f9f9f9;
    border-color: #ccc;
    border-radius: 5px;
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    transform: perspective(1px) translateZ(0);
    -webkit-transition: ease 500ms all;
    -moz-transition: ease 500ms all;
    -o-transition: ease 500ms all;
    transition: ease 500ms all; }
    .div-headerbar > .div-headerbar-menu-container > .div-menu-item .div-menu-item-child-container .div-inner-container > div > a.link:hover {
      text-indent: 10px;
      background: #fff; }
    .div-headerbar > .div-headerbar-menu-container > .div-menu-item .div-menu-item-child-container .div-inner-container > div > a.link:hover:before {
      left: -7px; }
    .div-headerbar > .div-headerbar-menu-container > .div-menu-item .div-menu-item-child-container .div-inner-container > div > a.link:before {
      content: "";
      width: 0;
      height: 0;
      border-top: 19px solid transparent;
      border-left: 19px solid rgba(49, 119, 149, 0.5);
      border-bottom: 19px solid transparent;
      position: absolute;
      top: -1px;
      left: -15px;
      right: 0;
      bottom: 0;
      -webkit-transition: ease 500ms all;
      -moz-transition: ease 500ms all;
      -o-transition: ease 500ms all;
      transition: ease 500ms all; }
  .div-headerbar > .div-headerbar-menu-container > .div-menu-item .div-menu-item-child-container .div-inner-container > div > div.blurb {
    color: #000;
    display: block;
    padding: 10px;
    border-color: #ccc;
    border-width: 1px;
    border-style: solid;
    border-bottom-width: 0;
    box-sizing: border-box; }
  .div-headerbar > .div-headerbar-menu-container > .div-menu-item .div-menu-item-child-container .div-inner-container > div > div.blurb:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; }
  .div-headerbar > .div-headerbar-menu-container > .div-menu-item .div-menu-item-child-container .div-inner-container > div > div.blurb:last-child {
    border-bottom-width: 1px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }
  .div-headerbar > .div-headerbar-menu-container > .div-menu-item .div-menu-item-child-container .div-inner-container > div > div.note {
    color: #000;
    display: block;
    padding: 10px;
    box-sizing: border-box;
    font-style: italic; }

.div-sidebar {
  grid-area: sidebar; }

.div-maincontent {
  grid-area: maincontent; }
  .div-maincontent > div {
    padding: 15px 0;
    border-bottom: 4px dotted #f1f1f1; }
  .div-maincontent > div > div {
    margin: 5px 0; }
  .div-maincontent > div > div.title {
    font-size: 1.5em; }
  .div-maincontent > div > div.intro {
    margin: 15px 0; }
  .div-maincontent > div > div.date {
    color: #888;
    font-size: 0.9em;
    border-bottom: 1px solid #f1f1f1; }

.div-footer {
  grid-area: footer; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ }

.menuChildren {
  transform: scale(1);
  opacity: 1;
  top: 0.5em; }

.menuChildren-enter {
  top: 3em;
  opacity: 0;
  transform: scale(0.9); }

.menuChildren-enter.menuChildren-enter-active {
  transform: scale(1);
  opacity: 1;
  top: 0.5em;
  transition: 350ms; }

.menuChildren-leave {
  transform: scale(1);
  opacity: 1;
  top: 0.5em; }

.menuChildren-leave.menuChildren-leave-active {
  top: 3em;
  opacity: 0;
  transform: scale(0.9);
  transition: 350ms; }
